:root {

    --white: #f5f3f5;
    --green: #35d365;
    --darkblue: #0d0630;
    
    }

.col-md-2{
    background-color: var(--white);
    margin-top: 3%;
}

.col-md-2 a {
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    text-decoration: none;
    font-weight: 500;
    color: black;
 }
        
 .list-group-item {
    background-color: var(--white);
    border: none;
    padding-top: 5%;
}

.list-group-item a {
    font-style: italic;
}

.col-md-9 {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    padding: 0.5%;
    background-color: var(--white);
}

.row  {
    height: 51.3rem;
}

.col-md-9 img {
    width: 40%;
    padding-left: 1%;

}

.col-md-9 h1 {
    text-decoration: underline;

}

.col-md-9 p {
    padding-left: 1%;
    text-align: start;
}

.allArticles a {
    font-style: normal;
    font-size: large;
    text-decoration: underline;
    font-weight: 500;
}

.allArticles a {
    font-style: normal;
    font-size: large;
    text-decoration: underline;
    font-weight: 500;
}
.articleLink a:hover {
    transition: all 0.5s ease-in-out;
    padding-left: 2%;
    color: var(--green);
}

